body{
    background-color:rgb(243, 236, 236) 

}
#code{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}


#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px
}

img{
    width: 700px;
}

h1{
    color: rgb(53, 53, 56);
    font-size: px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#article-1{
    color: rgb(231, 133, 133);
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h6{
    color:(231,133,133);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
#section2{
    width:100%;
    height: 100%;
}



