html, body{
    height: 100%;
}

#chapeau{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}    

h1{
    color: brown;
}

section{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 0px;
    margin: 0px;
}

image{
    width: 50%;
    height: 30%;
    
}



