a {
    color: inherit;
    
}

footer{
    background-color: pink;
    color: rgb(194, 14, 14);
    height: 5%;

}


header{
    background-color: rgb(50,50,50);
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
header button{
    background-color:rgb(50, 50, 50);
    padding: 10 px;
   font-size: 20px;
   padding: 10px 24px;
   border-radius: 0px;
   width: 132px;
   border: none;
   display: inline-block;
   color: rgb(216, 222, 228);
   font-family: 'Amatic SC', cursive;
   
}
